<div class="tableContainer">
  <div class="filterSection">
    <mat-form-field>
      <mat-label>Search Country Name</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event, { name: 'name' })"
        placeholder="Search Countries by name"
        [(ngModel)]="inputVal"
        #input
      />
    </mat-form-field>

    <mat-form-field appearance="fill" *ngFor="let filter of filters">
      <mat-label>{{ filter.name | titlecase }}</mat-label>
      <mat-select
        [(value)]="filter.defaultValue"
        (selectionChange)="applyFilter($event, filter)"
      >
        <mat-option *ngFor="let option of filter.options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span class="reset" (click)="resetAllFilters()">RESET</span>
  </div>

  <div class="resultsCount">
    <div>
      Showing
      <span *ngIf="isFilterApplied"
        ><b>{{ dataSource.filteredData.length }}</b> out of </span
      ><b>{{ dataSource.data.length }}</b> countries
    </div>
    <div class="refreshIcon">
      <mat-icon
        aria-hidden="false"
        [@rotatedState]="state"
        aria-label="Example home icon"
        fontIcon="autorenew"
        (click)="refreshData()"
      ></mat-icon>
    </div>
  </div>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold">
          Name
        </th>
        <td mat-cell *matCellDef="let element" class="bold">
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Capital Column -->
      <ng-container matColumnDef="capital">
        <th mat-header-cell *matHeaderCellDef>Capital</th>
        <td mat-cell *matCellDef="let element">{{ element.capital }}</td>
      </ng-container>

      <!-- Subregion Column -->
      <ng-container matColumnDef="subregion">
        <th mat-header-cell *matHeaderCellDef>SubRegion</th>
        <td mat-cell *matCellDef="let element">
          <div class="pills">
            <span (click)="setPillFilter(element.subregion, 'subregion')">{{
              element.subregion
            }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Currencies Column -->
      <ng-container matColumnDef="currencies">
        <th mat-header-cell *matHeaderCellDef>Currencies</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let currency of element.currencies" class="pills">
            <span (click)="setPillFilter(currency.name, 'currencies')">{{
              currency.name
            }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Languages Column -->
      <ng-container matColumnDef="languages">
        <th mat-header-cell *matHeaderCellDef>Languages</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let language of element.languages" class="pills">
            <span (click)="setPillFilter(language.name, 'languages')">{{
              language.name
            }}</span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        class="example-element-row"
      ></tr>

      <!-- when data is not found after filtering -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter. Try resetting the filters.
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 5]"
      aria-label="Select page of users"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
