/* You can add global styles to this file, and also import other style files */
@import "./app/shared/css/variables.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-mdc-form-field {
  margin: 10px;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: $whiteColor;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
